/* CONTAINER GERAL */
body {
  background: #751ac4;
background: linear-gradient(112deg, rgba(117, 26, 196, 1) 23%, rgba(87, 199, 133, 1) 67%, rgba(29, 176, 21, 1) 100%) !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza horizontal */
  align-items: center;     /* Centraliza vertical */
  font-family: Arial, sans-serif;
}


.quiz-container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 25px;

  animation: fadeIn 0.4s ease;
}

/* PERGUNTA */
.quiz-container h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

/* ALTERNATIVAS */
.quiz-container button {
  background: #f5f5f5;
  border: none;
  padding: 15px;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.quiz-container button:hover {
  background: #dedede;
  transform: scale(1.02);
}

/* ANIMAÇÃO */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TELA FINAL */
.quiz-final {
  max-width: 500px;
  background: rgb(255, 255, 255);
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 22px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.quiz-final h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.quiz-final p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}

.quiz-final h2 {
  margin-top: 20px;
  font-size: 24px;
  color: #0c7bff;
  font-weight: 600;
}
