/* =============================
   FONTES GLOBAIS
============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.logo-title,
.subtitle {
  font-family: "Poppins", sans-serif;
}

/* =============================
   FUNDO
============================= */
.login-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #751ac4;
background: linear-gradient(112deg, rgba(117, 26, 196, 1) 23%, rgba(87, 199, 133, 1) 67%, rgba(29, 176, 21, 1) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* =============================
   CARD HORIZONTAL
============================= */
.login-card {
  width: 900px;
  height: 480px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;

  background: rgba(243, 243, 243, 0.932);
  backdrop-filter: blur(25px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* =============================
   LADO ESQUERDO
============================= */
.login-left {
  width: 35%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Logo pequena */
.logo-small {
  width: 110px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 15px auto;
  display: block;
}

/* Título */
.logo-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

/* Subtítulo */
.subtitle {
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 15px;
}

/* Labels */
label {
  color: #000000;
  font-size: 14px;
  margin-top: 10px;
}

/* Inputs */
input {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: 1px solid rgba(75, 75, 75, 0.35);
  background:#E8F0FE;
  color: #000000;
  margin-bottom: 15px;
}

input::placeholder {
  color: #cfcfcf;
}

/* Botão */
.btn-login {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #7b0cd6, #4a0d7b);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease;
}

.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(123, 12, 214, 0.4);
}

/* Link */
.link-esqueci {
  margin-top: 10px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.link-esqueci:hover {
  text-decoration: underline;
}

/* =============================
   LADO DIREITO
============================= */
.login-right {
  width: 65%;
  position: relative;
  background: rgba(255,255,255,0.1);
}

.side-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
