.quiz-container {
  min-height: 100vh; /* garante ocupar a tela toda */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #751ac4, #00ff9d);
  color: #fff;
  padding: 20px; /* opcional, para não grudar nas bordas */
  box-sizing: border-box;
}


.quiz-card-wrapper {
  max-width: 500px;
  width: 100%;
}

.quiz-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.quiz-card {
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.quiz-options button {
  background: rgba(255,255,255,0.2);
  color: #fff;
  padding: 12px;
  border-radius: 12px;
}

.quiz-options button:hover {
  background: rgba(255,255,255,0.4);
  transform: scale(1.05);
}

.quiz-score h2 {
  font-size: 24px;
  font-weight: bold;
}
